body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'PT Sans', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 15px 5px rgba(0,1,1,0.2); 
    background-color: #ffffff;
}

.logo {
    display: block;
    width: 140px;
    height: 72px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -72px;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 6%;
    margin: 0;
    list-style: none;
}

.menu-item {
    flex: 0 0 15%;
    padding-top: 14px;
    padding-bottom: 16px;
}

.menu-item:nth-child(2n-1) {
    margin-right: 82px;
}

.menu-item:nth-child(2) {
    margin-right: auto;
}

.menu-item:nth-child(3) {
    text-align: right;
    letter-spacing: 0.5px;
}

.menu-item:nth-child(4) {
    text-align: right;
}

.menu-link {
    line-height: 26px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.welcome-section{
    background-image: url(../img/background-photo.jpg);
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
}

.welcome-section:after {
    content: "";
    display: block;
    height: 59px;
    width: 100%;
    background-image: url(../img/polygon.svg);
    position: absolute;
    bottom: -2px;
}

.header {
    z-index: 2;
    position: relative;
}

.advantages {
    text-align: center;
    padding-top: 38px;
    padding-bottom: 39px;  
}

.advantages-title {
    max-width: 450px;    
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;  
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.column-small {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
    padding: 0 10px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 47px;
}

.column-big {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    text-align: center;
    box-sizing: border-box;
}

.column-image {
    display: block;
}

.column:nth-child(1) {
    order: 1;
    background-color: #81b3d2;
    color: white;
}

.column:nth-child(2) {
    order: 7;
}

.column:nth-child(3) {
    order: 8;
}

.column:nth-child(4) {
    order: 9;
}

.column:nth-child(5) {
    order: 10;
}

.column:nth-child(6) {
    order: 2;
}

.column:nth-child(7) {
    order: 6;
}

.column:nth-child(8) {
    order: 3;
}

.column:nth-child(9) {
    order: 4;
}

.column:nth-child(10) {
    order: 5;
}

.column .title {
    max-width: 170px;
    margin: 0 auto;
    margin-bottom: 24px;
    line-height: 21px;
}


.column p {
    max-width: 310px;
    margin: 0 auto;
    margin-bottom: 21px;
}

